.listing_container {
  min-height: 100vh;
  width:100%;
  padding-top:10rem;
}

/* Tabs Styling  */
.tabs_wrapper{
    height:100%;
    margin:0 auto
}
.radio {
  display: none;
}
.tabs {
  text-align: center;
  border-bottom: .2rem solid #e1e1e1;
  margin: 5rem 0;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}
.tabs label {
  padding: 0 2rem;
  position: relative;
  color: #e1e1e1;
  font-size: 1.5rem;
  border: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: #a8a8a8;
}

/* animation for fading in product */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* panel or product wrapper style */
.panels,.listing-wrapper{
  width: 100%;
 }
 .panel {
   display: none;
 }
 .panel,.listing {
   width:100%;
   animation: fadein 0.8s;
   min-height: 100%;
 }
.listing,
#gyms:checked ~ .panels #gyms-panel,
#yoga:checked ~ .panels #yoga-panel,
#martial:checked ~ .panels #martial-panel,
#dance:checked ~ .panels #dance-panel,
#diet:checked ~ .panels #diet-panel

{
  display:flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
#gyms:checked ~ .tabs #gyms-tab,
#yoga:checked ~ .tabs #yoga-tab,
#martial:checked ~ .tabs #martial-tab,
#dance:checked ~ .tabs #dance-tab,
#diet:checked ~ .tabs #diet-tab
{
   color:goldenrod;
   border-bottom: .2rem solid goldenrod;
}

/* Item  styling */
.item {
  margin:1.5rem;
  height: 51.8rem;
  -webkit-box-shadow:0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
  margin-bottom: 3rem;
  background-repeat: no-repeat;
  background-size:100% 45%;
  background-position: top center;
  flex-grow: 2;
  flex-shrink: 1;
  flex-basis:25rem;
}
.item-image,
.item-info {
  height: 45%;
  width: 100%;
}
.item:nth-child(odd) {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url("../img/images/product.jpg");
}
.item:nth-child(even) {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url("../img/images/lifterbg.jpg");
}
.item-image {
    position: relative;
}
.item-info {
  background: #fff;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 4rem;
  z-index: 1;
}
.item-rank{
    font-size: 1.2rem;
    color: #ffffff;
    background: #f03250;
    font-weight: 600;
    padding: .5rem 1.5rem .5rem 1rem;
    border-radius:0 .2rem;
    position: absolute;
    left: 2rem;
    top: 2rem;
}
.item-info .item-name h3{
    font-size: 2rem;
    color: #323232;
    font-weight: 600;
    margin-bottom: .6rem;
}
.item-info .item-rating, .item-info .item-rating h5{
 color:goldenrod;
}
.item-info .item-rating,.item-flag {
 display: flex;
 justify-content: space-between;
}
.item-info .item-contact span{
  color:#A8A8A8;
  display: block;
  padding:.2rem 1rem .2rem 1rem;
  font-size: 1.5rem;
  padding:.5rem;
}
.item-flag{
 height:10%;
 padding: 1rem;
 align-items: center;
 border-top:.1rem solid rgb(225, 225, 225);
 background-color: #fff;
}
.item-flag .logofooter img{
    height: 3.5rem;
}
.item-flag .sitename h3{
    font-size: 1.5rem;
}
