:root {
  --sWidth: 300px;
}

.sidebar {
  width: var(--sWidth);
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fa226ae8;
  color: #fff;
  padding: 50px 25px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0px;
  transition: all 0.3s ease-in-out;
}
.content_wrapper {
  width: calc(100vw - var(--sWidth));
  margin-left: var(--sWidth);
}
.sidebar h2 {
  text-align: center;
  color: #fff;
  text-align: 1px 1px 6px rgba(0, 0, 0, 0.5);
  margin: 10px 0;
}
.title {
  display: flex;
  align-items: center;
}
.divider {
  color: #fff;
  border: 0.1rem solid rgba(255, 255, 255, 0.685);
  display: block;
}

.open {
  z-index: 1000;
  left: 0 !important;
}
.close {
  left: -999px;
}
@media only screen and (max-width: 768px) {
  .sidebar {
    left: -999px;
  }
  .content_wrapper {
    margin: 0;
    width: 100%;
  }
}
