.footer {
	width: 100%;
	background: #00121b;
    display: block;
    color:#ffff;
    text-align: center;
     clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
     padding-top:10rem;
 }
.footer h3 {
    color:#fff;
}
 .inner-footer {
	 width: 95%;
	 margin: auto;
	 padding: 3rem 1rem;
	 display: flex;
	 flex-wrap: wrap;
	 box-sizing: border-box;
	 justify-content: center;
 }

.footer-items {
	width: 25%;
	padding: 1rem 2rem;
	box-sizing: border-box;
	color: #fff;
}

.footer-items p {
	font-size: 1.6rem;
	text-align:center;
	line-height: 2.5rem;
	color: #fff;
}
.footer-items img{
    width:10rem;
    height:15rem;
}
.footer-items h1 {
	color: #fff;
}

.border1 {
	height: 0.3rem;
	width: 10rem;
	background: #ff9800;
	color: #ff9800;
	background-color: #ff9800;
    border: 0rem;
    margin:1rem auto;
}

ul {
	list-style: none;
	color: #fff;
	font-size: 1.5rem;
	letter-spacing: 0.05rem;	
 }

ul a {
	text-decoration: none;
	outline: none;
	color: #fff;
	transition: 0.3s;
}

ul a:hover {
	color: #ff9800;
}

ul li {
	margin: 1rem 0;
	height: 2.5rem;
}

li i {
	margin-right: 2rem;
}

.social-media {
	width: 100%;
	color: #fff;
	text-align: center;
	font-size: 2rem;
}

.social-media a {
	text-decoration: none;
}

.social-media i {
	height: 2.5rem;
	width: 2.5rem;
	margin: 2rem 1rem;
	padding: 0.4rem;
	color: #fff;
	transition: 0.5s;
}

.social-media i:hover {
	transform: scale(1.5);
}

.footer-bottom {
	padding: 1rem;
	background: #00121b;
	color: #fff;
	font-size: 1.2rem;
    text-align: center;
    border-top:0.05rem solid #e6e6e6;
    margin:0 1rem;
}

