.steps{
    min-height: 50vh;
    text-align: center;
    background-color: #fd0859;
    padding:10rem 1rem 1rem 1rem;
}
.steps-title{
    display:flex; 
    justify-content:center;
}
.steps-title h2{
    font-size:1.5em;
    font-weight:700;
}
.steps-title img{
   width:4rem;
   height:4rem;
   margin:0 1rem;
}
.cloudTop{
    background-image: url("../img/cloud.svg");
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    min-height:10rem;
}
.step{
    color:#000;
    margin:10% auto;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.step .icon-box{
    background-color: #fff;
    height:100%;
    width:17rem;
    height:20rem;
    padding:1rem;
    margin:1rem;
    transition: all .5s;
    box-shadow: -0.3rem .3rem 1rem rgba(0,0,0,0.5);
}
.step .icon-box:hover{
    border-radius:1rem;
    transform: translateY(-10%);
}

.step .icon-box span{
   font-size:5em;
}