
  .notf{
      height: 100vh;
      width:100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fd0859;
      flex-direction: column;
      
  }
  .notf a{
  background-color: #fff;
  }
  .notf h1{
      display: block;
      font-size: 20rem;
      color:#fff;
      line-height:1;
      text-shadow: -10px 0px rgba(0, 0, 0, 0.3);
  }
  .notf .oop{
    display: block;
    font-size: 10rem;
    color:#fff;
    line-height:initial;
    font-weight: 400;
}
.notf p{
    color: #fff;
}