.gymsWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 0 2%;
  animation: fadein 0.8s;
}
.container-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* display: grid;
  grid-template-columns:auto */
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media only screen and (max-width: 780px) {
  /* .item {
    max-width: 100%;
  } */
}
