.sidebar-item-content {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 100%;
}

.sidebar-item-text i {
  margin-right: 20px;
}
.sidebar-item-text {
  font-size: 1.5rem;
}
.active {
  color: #fff;
}
.normal {
  color: hsla(0, 0%, 100%, 0.8);
}
.sidebar-item-text:hover {
  color: #fff;
}
.link {
  color: #fff;
  text-decoration: none;
  padding: 0px;
}
ul.navItem li,
.subitem {
  padding: 2rem 0;
}
.subitem {
  display: none;
}
