.filter_bar {
  background-color: #ffff;
  flex: 0.8;
  flex-shrink: 0;
  border: 0.2rem solid #0000;
  padding: 6% 1rem 1rem 2rem;
  overflow-y: scroll;
  z-index: 1;
}
.filter > div {
  margin-top: 2rem;
}
.filter-search input,
.filter-location input {
  border: none;
  width: 90%;
  padding: 0rem;
  padding-left: 1.5rem;
  background: transparent;
  color: #323232;
  font-size: 1.5rem;
  border: none;
  height: 3rem;
  border-bottom: 0.2rem solid #f7f7f7;
  -webkit-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
}
aside i {
  color: #fd0859;
}
.filter-search i {
  margin-right: -1rem;
}
.filter-search input:focus,
.nice-select:focus,
.filter-location input:focus {
  border-color: #f03250;
}
.nice-select,
.nice-select ul {
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 0.2rem solid #f7f7f7;
  transition: all, 0.3s;
}
.fitness-option h5 {
  line-height: 1.5rem;
}
.checkbox-control {
  font-size: 1.5rem;
}
.checkbox-control input[type="checkbox"] + label::before {
  content: "\a0"; /* non-break space */
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  padding: 1rem;
  margin-right: 0.8rem;
  border-radius: 0.5rem;
  text-indent: -0.2rem;
  line-height: 0.2rem;
  transition: all, 0.3s;
  border: 0.2rem solid silver;
}
.checkbox-control input[type="checkbox"]:checked + label::before {
  content: "\2713";
  background: #fd0859;
  color: #fff;
  border: none;
}
.checkbox-control input[type="checkbox"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
.checkbox-control input[type="checkbox"]:focus + label::before {
  box-shadow: 0 0 0.1em 0.1em #58a;
}
.listing-container {
  margin-left: 25%;
}

@media only screen and (max-width: 991px) {
  .filter_bar {
    width: 100%;
    height: auto;
    overflow-y: none;
    margin-top: 10%;
  }
}
