.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 100%;
}
.grid_item {
  max-width: 100%;
  margin: 1rem;
  flex-grow: 2;
  flex-shrink: 1;
  flex-basis: 25rem;
  height: auto;
  cursor: pointer;
}
@media only screen and (max-width: 1319px) {
  .grid_item {
    flex-basis: 35rem;
  }
}
